@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: #b5833e62;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: "Days One", sans-serif;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.homeclient {
    display: flex;
    justify-content: center;
    max-width: clamp(800px, 50vw, 1800px);
    width: 100%;
}

.CancelHome {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: clamp(15px, 2vw, 25px);
    max-width: clamp(800px, 50vw, 1800px);
    width: 100%;
}

.CancelHome p {
    font-size: 40px;
    font-family: "Days One", sans-serif;
    background-color: white;
    padding-block: clamp(10px, 2vw, 20px);
    padding-inline: clamp(15px, 2vw, 20px);
    border-radius: 60px;
}

.CancelHome img {
    position: absolute;
    left: 0;
    max-width: 60px;
    width: 100%;
}

.applications {
    display: flex;
    justify-content: center;
    max-width: clamp(800px, 70vw, 1800px);
    width: 100%;
}

.applications form {
    display: flex;
    justify-content: center;
     max-width: clamp(800px, 70vw, 1800px);
    width: 100%;
    background-color: white;
}

.applications table {
   max-width: clamp(800px, 70vw, 1800px);
    width: 100%;
}

.applications form table tbody {
    text-align: center;
    font-family: "Georama", sans-serif;
    height: 15vh;
}

.applications form table tbody td {
    font-family: "Georama", sans-serif;
    font-size: 18px;
}

.applications form table thead {
    font-size: 20px;
    height: 7vh;
}

/*
.allAplications {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: clamp(800px, 50vw, 1800px);
    width: 100%;
    row-gap: 50px;
}

.application {
    display: flex;
    flex-direction: column;
    max-width: clamp(400px, 30vw, 600px);
    background-color: white;
    width: 100%;
    padding-block: clamp(10px, 2vw, 20px);
    padding-inline: clamp(15px, 2vw, 20px);
    box-sizing: border-box;
    row-gap: 20px;
}

.application p {
    font-size: 20px;
}

.application span {
    font-family: "Georama", sans-serif;
}

.application select {
    background-color: #23b33bce;
    border: none;
    border-radius: 20px;
    padding-inline: clamp(15px, 2vw, 20px);
    padding-block: clamp(5px, 2vw, 10px);
    color: white;
    font-size: 18px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.application select:focus {
     outline: none;
}

.application select:not([multiple]) {
    padding-right: 1.2em;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.6em) 0.2em;
    background-size: 2em auto;
    background-image: url("photo/whiteARROW.png");
}

.application button {
     background-color: #23b33bce;
    border: none;
    border-radius: 20px;
    padding-inline: clamp(15px, 2vw, 20px);
    padding-block: clamp(5px, 2vw, 10px);
    color: white;
    font-size: 18px;
    transition: background-color 0.5s ease-in-out;
}

.application button:hover {
    cursor: pointer;
    background-color: rgb(27, 153, 27);
}*/