@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: #b5833e62;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: "Days One", sans-serif;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.homeclient {
    display: flex;
    justify-content: center;
    max-width: clamp(800px, 50vw, 1800px);
    width: 100%;
}

.CancelHome {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: clamp(15px, 2vw, 25px);
    max-width: clamp(800px, 50vw, 1800px);
    width: 100%;
}

.CancelHome p {
    font-size: 40px;
    font-family: "Days One", sans-serif;
    background-color: white;
    padding-block: clamp(10px, 2vw, 20px);
    padding-inline: clamp(15px, 2vw, 20px);
    border-radius: 60px;
}

.CancelHome img {
    position: absolute;
    left: 0;
    max-width: 60px;
    width: 100%;
}

.createApplication {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: clamp(800px, 50vw, 1800px);
    width: 100%;
    row-gap: 40px;
}

.labels {
    display: flex;
    max-width: clamp(800px, 50vw, 1800px);
    width: 100%;
}

.labels label {
    background-color: white;
    padding-block: clamp(5px, 2vw, 10px);
    padding-inline: clamp(15px, 2vw, 20px);
    border-radius: 20px;
    font-size: 25px;
}

.createApplication select {
    max-width: clamp(800px, 50vw, 1800px);
    width: 100%;
    padding-block: clamp(5px, 2vw, 10px);
    padding-inline: clamp(15px, 2vw, 20px);
    border: none;
    letter-spacing: inherit;
    word-spacing: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: "Georama", sans-serif;
    font-size: 20px;
}

.createApplication select:not([multiple]) {
    padding-right: 1.2em;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.6em) 0.2em;
    background-size: 2em auto;
    background-image: url("photo/pngegg\ \(1\)\ 3.png");
}

.createApplication select:focus {
    outline: none;
}

.createApplication option {
    font-family: "Georama", sans-serif;
    font-size: 20px;
}

.createApplication select::-ms-expand {
    display: none;
}

.createApplication input {
    max-width: clamp(800px, 50vw, 1800px);
    width: 100%;
    padding-block: clamp(5px, 2vw, 10px);
    padding-inline: clamp(15px, 2vw, 20px);
    box-sizing: border-box;
    border: none;
    font-family: "Georama", sans-serif;
    font-size: 20px;
}

.createApplication input:focus {
    outline: none;
}

.createApplication input[type='submit'] {
    max-width: clamp(500px, 20vw, 700px);
    padding-block: clamp(5px, 2vw, 15px);
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #23b33ba8;
    color: white;
    font-family: "Days One", sans-serif;
    font-size: 20px;
}

.createApplication input[type='submit']:last-child {
    background-color: #b32823a8;
}