@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: #b5833e62;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: "Days One", sans-serif;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.homeclient {
    display: flex;
    justify-content: center;
    max-width: clamp(800px, 50vw, 1800px);
    width: 100%;
}

.CancelHome {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: clamp(15px, 2vw, 25px);
    max-width: clamp(800px, 50vw, 1800px);
    width: 100%;
}

.CancelHome p {
    font-size: 40px;
    font-family: "Days One", sans-serif;
    background-color: white;
    padding-block: clamp(10px, 2vw, 20px);
    padding-inline: clamp(15px, 2vw, 20px);
    border-radius: 60px;
}

.CancelHome img {
    position: absolute;
    left: 0;
    max-width: 60px;
    width: 100%;
}

.selectionRewiews {
    display: flex;
    justify-content: space-around;
    max-width: clamp(800px, 50vw, 1800px);
    width: 100%;
    background-color: white;
    padding-block: clamp(10px, 2vw, 20px);
    padding-inline: clamp(15px, 2vw, 20px);
    font-size: 20px;
    box-sizing: border-box;

}

.reviews {
    display: flex;
    justify-content: space-between;
    max-width: clamp(800px, 50vw, 1800px);
    width: 100%;
    background-color: white;
    padding-block: clamp(10px, 2vw, 20px);
    padding-inline: clamp(15px, 2vw, 20px);
    box-sizing: border-box;
}

.photoandtext {
    display: flex;
    column-gap: 30px;
}

.photoandtext img {
    max-width: clamp(80px, 20vw, 100px);
    width: 100%;
}

.NameAndComm {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.NameAndComm p:last-child {
    font-size: 20px;
    font-family: "Georama", sans-serif;
}

.starsAndDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.starsAndDate img {
    max-width: clamp(100px, 20vw, 150px);
    width: 100%;
}

.starsAndDate p {
    font-size: 20px;
    font-family: "Georama", sans-serif;
}